@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
	background: transparent;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
			cursor: default !important;
}

#flex {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

#filters {
    width: 200px;
    padding: 0 20px;
    border-right: 1px solid #606060;
}

#songs {
    flex: 3;
}

@media only screen and (max-width: 800px) {
    #filters {
        display: none;
    }
}