.flex {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.filters {
    width: 200px;
    padding: 0 20px;
    border-right: 1px solid #606060;
}

.songs {
    flex: 3;
}

@media only screen and (max-width: 800px) {
    .filters {
        display: none;
    }
}