.dropdownFilter:first-child {
    margin-top: 20px;
}
.dropdownFilter {
    background: #000;
}

.flex {
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.filters {
    width: 200px;
    padding: 0 20px;
    border-right: 1px solid #606060;
}

.songs {
    flex: 3;
}

@media only screen and (max-width: 800px) {
    #filters {
        display: none;
    }
}

.sortByParent {
    display: flex;
    color: #606060;
    font-size: 16px;
    height: 16px;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.2s ease;
    border-bottom: 1px solid #606060;
}

.sortByParent > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 10px;
}

.sortByCheckmark {
    display: inline-grid;
    height: 12px;
    width: 12px;
    border-radius: 5px;
    border: 2px solid #909090;
    padding: 2px;
    cursor: pointer;
}

.sortByCheckmark:hover {
    border: 2px solid #606060;
}

.sortByCheckmark svg {
    fill: transparent;
    transition: all 0.2s ease;
}