#sortByParent {
    display: flex;
    color: #606060;
    font-size: 16px;
    height: 16px;
    align-items: center;
    padding: 100px 20px 10px 20px;
    transition: all 0.2s ease;
}

#sortByParent > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 10px;
}

#sortByParent > div:hover {
    color: #000;
    text-decoration: underline;
}

#checkmark {
    display: inline-grid;
    height: 12px;
    width: 12px;
    border-radius: 5px;
    border: 1px solid #909090;
    padding: 4px;
    cursor: pointer;
}

#checkmark svg {
    fill: transparent;
    transition: all 0.2s ease;
}

.sortSelector {
    display: flex;
}

.sortIcon {
    height: 16px;
    width: 16px;
    fill: transparent;
}

.sortIcon:hover {
    fill: '#000';
}

#sortName {
    flex: 5;
}

#sortArtist {
    flex: 2;
}

#sortAlbum {
    flex: 2;
}

#sortYear {
    flex: 1;
}