#sortByParent {
    display: flex;
    color: #606060;
    font-size: 16px;
    height: 16px;
    align-items: center;
    padding: 10px 20px;
    transition: all 0.2s ease;
    border-bottom: 1px solid #606060;
}

#sortByParent > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 10px;
}

.sortByCheckmark {
    display: inline-grid;
    height: 12px;
    width: 12px;
    border-radius: 5px;
    border: 2px solid #909090;
    padding: 2px;
    cursor: pointer;
}

.sortByCheckmark:hover {
    border: 2px solid #606060;
}

.sortByCheckmark svg {
    fill: transparent;
    transition: all 0.2s ease;
}

.sortBySelector {
    display: flex;
    align-items: center;
}

.sortBySelector:hover {
    color: #000;
}

.sortBySelector:hover .sortByIcon{
    fill: #000;
}

.sortByIcon {
    height: 16px;
    width: 16px;
    fill: transparent;
    margin-left: 5px;
}

#sortByName {
    flex: 5;
}

#sortByArtist {
    flex: 2;
}

#sortByAlbum {
    flex: 2;
}

#sortByYear {
    flex: 1;
}