header {
    height: 50px;
    background: #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

#spotifyIcon {
    height: 50px;
    width: 50px;
}